<div class="col">
    <div class="card mb-4">
        <div class="card-body p-3" style="height: 200px;">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <div class="pie m-0" style="--p:100; --c: lightgray">Sell</div>
                    <div class="pie m-0" style="--p:90; --b:20px; --c: #007bff">&nbsp;</div>
                    <div class="pie m-0" style="--p:50; --b:20px; --c: #dc3545">&nbsp;</div>
                    <div class="pie m-0" style="--p:30; --b:20px; --c: #ebba34">&nbsp;</div>
                </div>
                <div class="col-12 col-lg-6 d-none d-lg-block">
                    <div class="row d-flex flex-column align-items-center h-100">
                        <div class="col m-1">
                            <span class="badge rounded-pill bg-warning d-inline mx-1">&nbsp;&nbsp;&nbsp;&nbsp;</span><small class="d-inline">Personal Orders</small>
                        </div>
                        <div class="col m-1">
                            <span class="badge rounded-pill bg-danger d-inline mx-1">&nbsp;&nbsp;&nbsp;&nbsp;</span><small class="d-inline">Self Orders</small>
                        </div>
                        <div class="col m-1">
                            <span class="badge rounded-pill bg-primary d-inline mx-1">&nbsp;&nbsp;&nbsp;&nbsp;</span><small class="d-inline">Official Orders</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <p class="h5 m-0">
                Last month sell
            </p>
        </div>
    </div>
</div>

@code {

}
