@page "/"
@using BlazorInterfaceLibrary.Data
<PageTitle>Index</PageTitle>
<div class="row">
    <Chart></Chart>
    <Chart></Chart>
    <Chart></Chart>
</div>
<div class="row">
    <Slider></Slider>
    <Progress Color="bg-warning">
        <Bar Id="1" Color="bg-danger" Value="15"></Bar>
        <Bar Id="2" Color="bg-primary" Value="50"></Bar>
        <Bar Id="3" Color="bg-success" Value="100"></Bar>
        <Bar Id="4" Color="bg-primary" Value="50"></Bar>
    </Progress>
</div>
<div class="row">
    <ListCard></ListCard>
    <ListCard></ListCard>
</div>
@code{
    public List<Person> people { get; set; } = new List<Person>();
}

