<div class="col-lg-4 col-12 mb-4">
    <div class="card rounded h-100">
        <div class="card-body p-0">
            <div id="carouselExampleControls" class="carousel slide h-100" data-bs-ride="carousel">
                <div class="carousel-inner rounded-2 h-100 bg-danger">
                    <div class="carousel-item w-100 h-100 bg-primary active align-content-center text-center pt-3">
                        <div class="p-2 px-3 d-inline bg-white align-bottom rounded-circle my-3"></div>
                        <p class="text-white mt-2">A description of text</p>
                    </div>
                    <div class="carousel-item w-100 h-100 bg-danger">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
@code {

}
