@inherits LayoutComponentBase

<PageTitle>BlazorInterfaceLibrary</PageTitle>

<div class="page">
    <div class="sidebar" style="background-image: linear-gradient(180deg, #ffffff 0%, #ffffff 70%);">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <p class="m-0 h5">Hi MUHAMMAD</p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
