@page "/docs"
@inject NavigationManager Navigation

<div class="container">
    <div class="row g-4">
        <h1>Documentation</h1>
        <p>
            Welcome to the Blazor Interface Library (BIL) documentation. Here you'll find comprehensive guides and references to help you effectively utilize the various UI components offered by BIL in your Blazor applications.
        </p>
        <div class="col-6">
            <div class="card">
                <div class="card-header border-0 bg-transparent d-flex d-inline pt-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-app-indicator text-primary me-2" viewBox="0 0 16 16">
                        <path d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1z" />
                        <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    </svg>
                    <h5>Badge</h5>
                </div>
                <div class="card-body">
                    <p class="m-0">
                        The Badge component displays a simple numeric card to show results or counts.
                    </p>
                    <a href="/docs/badge" class="btn btn-primary btn-sm float-end">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header border-0 bg-transparent d-flex d-inline pt-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pie-chart-fill text-primary me-2" viewBox="0 0 16 16">
                        <path d="M15.985 8.5H8.207l-5.5 5.5a8 8 0 0 0 13.277-5.5zM2 13.292A8 8 0 0 1 7.5.015v7.778zM8.5.015V7.5h7.485A8 8 0 0 0 8.5.015" />
                    </svg>
                    <h5>Chart</h5>
                </div>
                <div class="card-body">
                    <p class="m-0">
                        The Chart component displays circular charts for visualizing comparison result.
                    </p>
                    <a href="/docs/chart" class="btn btn-primary btn-sm float-end">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header border-0 bg-transparent d-flex d-inline pt-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-card-list text-primary me-2" viewBox="0 0 16 16">
                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0" />
                    </svg>
                    <h5>List</h5>
                </div>
                <div class="card-body">
                    <p class="m-0">
                        The List component displays circular charts for visualizing comparison results.
                    </p>
                    <a href="/docs/list" class="btn btn-primary btn-sm float-end">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header border-0 bg-transparent d-flex d-inline pt-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check2-square text-primary me-2" viewBox="0 0 16 16">
                        <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z" />
                        <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0" />
                    </svg>
                    <h5>Todo</h5>
                </div>
                <div class="card-body">
                    <p class="m-0">
                        The Todo component provides interactive To Do list with an input with button.
                    </p>
                    <a href="/docs/todo" class="btn btn-primary btn-sm float-end">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
