@page "/installation"
<div class="container">
    <div class="row">
        <h1>Installation</h1>

        <p class="fs-5">
            To install BIL into your Blazor project, add the following NuGet package:
        </p>
        <code class="p-3 bg-dark rounded text-light fs-5">dotnet add package Bil</code>

    </div>
</div>

@code {

}
