@page "/docs/list"
@using BlazorInterfaceLibrary.Bil.Classes
<div class="container">
    <div class="row justify-content-center">
        <h1>List</h1>
        <p>The List component displays circular charts for visualizing comparison results.</p>
        <pre class="ps-5 bg-dark rounded">
        <code class="text-light fs-5">
&commat;using BlazorInterfaceLibrary.Bil.Classes
            
&commat;component.Render&#40;this&#41;;

&commat;code &#123;
    BilComponent components &#123; get; set; &#125; = new List&#40;&#41;;
&#125;
            </code>
        </pre>

        <p>The code above load the List component in your page.</p>

        @component.Render(this)
    </div>
</div>
@code {
    BilComponent component { get; set; } = new ListComponent() { Width = Bil.Enums.Width.col5};
}
