@page "/docs/todo"
<div class="container">
    <div class="row">
        <h1>To Do</h1>

        <p>
            The Todo component provides an interactive to-do list with an input field and an add button. Users can add new tasks and remove existing ones.
        </p>

        <pre class="ps-5 bg-dark rounded">
            <code class="text-light fs-5">
&commat;using BlazorInterfaceLibrary.Bil.Classes
            
&commat;component.Render&#40;this&#41;;

&commat;code &#123;
    BilComponent components &#123; get; set; &#125; = new Todo&#40;&#41;;
&#125;
            </code>
        </pre>

        <p>The code above load the Badge component in your page.</p>
    </div>
</div>
@code {

}