@inherits Classes.Setting

<div class="text-end">
    <button class="btn px-1 @GetTextColorClass()" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
            <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0" />
            <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z" />
        </svg>
    </button>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h3 class="m-0" id="offcanvasRightLabel">Setting</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <label for="customRange1" class="form-label m-0">Width</label>
            <input type="range" class="form-range" min="0" max="5" id="customRange1">
        </div>
        <div>
            <label for="customRange1" class="form-label m-0">Height</label>
            <input type="range" class="form-range" min="0" max="5" id="customRange1">
        </div>
        <div>
            <label for="customRange1" class="form-label m-0">Border</label>
            <input type="range" class="form-range" min="0" max="5" id="customRange1">
        </div>
        <div class="form-check form-switch my-2">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked" checked>
            <label class="form-check-label" for="switchCheckChecked">Border</label>
        </div>
        <div class="form-check form-switch my-2">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked" checked>
            <label class="form-check-label" for="switchCheckChecked">Fill</label>
        </div>
        <div class="form-check form-switch my-2">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked" checked>
            <label class="form-check-label" for="switchCheckChecked">Border</label>
        </div>
        <div class="container row d-flex justify-content-between my-2">
            <div class="form-check col-2">
                <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
                <label class="form-check-label" for="radioDefault1">
                    Blue
                </label>
            </div>
            <div class="form-check col-2">
                <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" checked>
                <label class="form-check-label" for="radioDefault2">
                    Red
                </label>
            </div>
            <div class="form-check col-2">
                <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" checked>
                <label class="form-check-label" for="radioDefault2">
                    Green
                </label>
            </div>
            <div class="form-check col-2">
                <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" checked>
                <label class="form-check-label" for="radioDefault2">
                    Yellow
                </label>
            </div>
        </div>

    </div>
</div>

@code {

}
