<div class="col-6 col-lg mt-2 mb-4">
    <div class="card @Color @Backgrround shadow">
        <h6 class="m-3 float-left">@Title</h6>
        <div class="card-body">
            <p class="display-5 px-3 h-100">@Value</p>
            <a href="#" class="link-light float-end">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#222222"
                     class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </a>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Color { get; set; }
    [Parameter]
    public string Backgrround { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Value { get; set; }
}
