<tr>
    @if(Id>0)
    {
        <th>@Id</th>
    }
    <td colspan="4" class="text-start align-middle py-2">
        <div class="progress" style="height: @height">
            <div class="progress-bar @(Striped ? "progress-bar-striped" : "") progress-bar-animated @Color"
                 role="progressbar" aria-label="Animated striped example" style="width: @Value%" aria-valuenow="15"
                 aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </td>
</tr>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public bool Striped { get; set; } = false;

    [Parameter]
    public string height { get; set; } = "10px";
}
