<div class="col-12 col-md">
    <div class="card border shadow mb-4">
        <div class="card-body m-2 pb-5" style="height: 200px;">
            <div class="row h-100">
                <div class="col col-lg-12 d-flex justify-content-center">
                    <div class="pie m-0" style="--p:100; --c: lightgray">@Name</div>
                    <div class="pie m-0" style="--p:@a; --b:20px; --c: #007bff">&nbsp;</div>
                    <div class="pie m-0" style="--p:@b; --b:15px; --c: #dc3545">&nbsp;</div>
                    <div class="pie m-0" style="--p:@c; --b:10px; --c: #ebba34">&nbsp;</div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <span class="badge rounded-pill bg-warning mx-1">&nbsp;&nbsp;&nbsp;&nbsp;</span><small class="d-inline">Users</small>
                </div>
                <div class="col">
                    <span class="badge rounded-pill bg-danger mx-1">&nbsp;&nbsp;&nbsp;&nbsp;</span><small class="d-inline">Self</small>
                </div>
                <div class="col">
                    <span class="badge rounded-pill bg-primary mx-1">&nbsp;&nbsp;&nbsp;&nbsp;</span><small class="d-inline">Official</small>
                </div>
            </div>

        </div>
        <div class="card-footer border-0">
            <p class="h6 m-0 text-center">
                Last month sell
            </p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Name { get; set; } = string.Empty;
    [Parameter]
    public int a { get; set; } = 20;
    [Parameter]
    public int b { get; set; } = 10;
    [Parameter]
    public int c { get; set; } = 0;
}
