@using BlazorInterfaceLibrary.Data
<div class="card shadow mb-3">
    <h3 class="m-3">Collection</h3>
    <div class="card-body py-0">
        <EditForm Model="@aPerson" OnValidSubmit="PassPerson">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <InputText type="date" required @bind-Value="aPerson.Date" class="form-control" id="floatingInput" />
                        <label for="floatingInput">Pickup Date</label>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <InputText type="text" required @bind-Value="aPerson.Name" class="form-control" id="floatingInput" placeholder="Name" />
                        <label for="floatingInput">Name</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <InputText type="text" required @bind-Value="aPerson.Postcode" class="form-control" id="floatingInput" placeholder="Postcode" />
                        <label for="floatingInput">Postcode</label>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <InputText type="text" required @bind-Value="aPerson.PhoneNumber" class="form-control" id="floatingInput" placeholder="PhoneNumber"/>
                        <label for="floatingInput">Phone Number</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3 d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>
@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public Order Order { get; set; }

    Person aPerson = new Person();

    private void PassPerson()
    {
        Order.AddIt(new Person {
            Date = aPerson.Date,
            Name = aPerson.Name,
            PhoneNumber = aPerson.PhoneNumber,
            Postcode = aPerson.Postcode,
            Status = 1
        });
    }


}
