@page "/Order"  
@using Component  
@using Component.Data  

<PageTitle>Order</PageTitle>  
<ListCard people="people"></ListCard>  
<div class="row">  
    <h2 class="mt-3">Bil Card</h2>  
    <Badge Title="Ready drivers" Color="border-success" Value="7"></Badge>  
    <Badge Title="Latest order" Color="border-primary" Value="12/08"></Badge>  
    <Badge Title="Payment stage" Color="border-danger" Value="3"></Badge>  
    <Badge Title="Orders made" Color="border-secondary" Value="15"></Badge>  
</div>  

<Form Title="Collection"></Form>  
@code {  
    public List<dynamic> people { get; set; } = new List<dynamic>();  

    public Person aPerson { get; set; } = new Person();  

    public async Task OnParametersSetAsync()  
    {  
        people.Add(aPerson);  
        StateHasChanged();  
    }  

    public void AddIt(Person aPerson)  
    {  
        people.Add(aPerson);  
        StateHasChanged();  
    }  
}
