<div class="col-lg-8 col-12 mb-4">
    <div class="card table-responsive h-100 @Color border border-primary border-1 shadow-sm rounded p-4">
        <table class="table table-borderless mb-auto">
            <thead class="@Color">
                <tr class="text-center">
                    <th class="text-start" scope="col">#</th>
                    <th scope="col">Collect</th>
                    <th scope="col">On way</th>
                    <th scope="col">Receive</th>
                </tr>
            </thead>
            <tbody class="@Color">
                @ChildContent
            </tbody>
        </table>
        <Download></Download>
    </div>
</div>
@code {
    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
