@page "/slide"
@page "/slide/{description}"
@using Newtonsoft.Json.Linq
@if (ShowDescription)
{
    <h3 class="mb-3">@this.GetType().Name</h3>
}
@if (overview != null)
{
    <p>
        <h5 class="mt-3">Overview</h5>
        @overview
    </p>
}
@if (usage != null)
{
    <p>
        <h5 class="mt-3">Usage</h5>
        @usage
    </p>

}
<div class="col-lg-4 col-12 mb-3">
    <div class="card shadow-sm rounded h-100">
        <div class="card-body p-0">
            <div id="carouselExampleControls" class="carousel slide h-100" data-bs-ride="carousel">
                <div class="carousel-inner rounded-2 h-100 bg-danger">
                    <div class="carousel-item w-100 h-100 bg-primary active align-content-center text-center pt-5">
                        <div class="py-4 px-3 d-inline bg-white align-bottom rounded-circle my-3 shadow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill text-primary m-2" viewBox="0 0 16 16">
                                <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3m2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1" />
                            </svg>
                        </div>
                        <p class="text-white mt-3 pt-3">Slide's description</p>
                    </div>
                    <div class="carousel-item w-100 h-100 bg-danger align-content-center text-center pt-5">
                        <div class="py-4 px-3 d-inline bg-white align-bottom rounded-circle my-3 shadow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill text-danger m-2" viewBox="0 0 16 16">
                                <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3m2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1" />
                            </svg>
                        </div>
                        <p class="text-white mt-3 pt-3">Build your component dynamically</p>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <Download Parent="@this.GetType().Name"></Download>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string description { get; set; } = "false";
    private string overview { get; set; }
    private string usage { get; set; }
    private bool ShowDescription = false;
    protected override async Task OnInitializedAsync()
    {
        ShowDescription = bool.TryParse(description, out var result) && result;
        if (ShowDescription)
        {
            GetDescription();
        }
    }
    private void GetDescription()
    {
        string json = File.ReadAllText("wwwroot/data/description.json");

        // Deserialize into a JArray for dynamic access
        var descriptions = JArray.Parse(json);

        // Find the matching record based on Name
        var record = descriptions.FirstOrDefault(d => d["Name"]?.ToString() == this.GetType().Name);

        if (record != null)
        {
            overview = record["Overview"]?.ToString();
            usage = record["Usage"]?.ToString();
        }
    }
}
